a{
    text-decoration: none;
    color: inherit;
  }
  

font{
  font-weight: 500;
  font-size: 25px;
}
.sidebar{
  border-top: 1px solid #e5e3e3;}
  .sideLeft{
    border-left: 1px solid #e5e3e3;}
  .checked {
    color: orange; 
    margin: 8px;
    
  }
  .color{
    color:rgb(184, 184, 184);
    margin: 8px;
  
  }
  p{
    font-weight: 100;
    text-shadow: #897d7d;
    color: black;
    margin: 0%;
  }
  .margin{
margin-top: 150px;
  }
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px;
    /* background-color only for content */
    background-clip: content-box;
    border: 3px solid #bbbbbb;
  
    border-radius: 50%;
  }
  
  /* appearance for checked radiobutton */
  input[type="radio"]:checked {
    background-color: #fc8c03;
  }
  
  /* optional styles, I'm using this for centering radiobuttons */
  .flex {
    display: flex;
    align-items: center;
  }