
.form-control:focus {
  border-color: #342c70 !important;
  box-shadow: none;
  border-width: 2px;
  }

  .form-control:focus:not(:focus-visible) {
  border-color: #ced4da !important;
  box-shadow: none !important;
  }
  .form-control {
  border-color: #000000 !important;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }
