
<div class="container bg-light mt-1 mb-1">
    <div class="row">
        <div class="col-md-3">
            <button routerLink="/list-personne" type="button" class="btn btn-primary btn-lg">list-personne</button>
        </div>
        <div class="col-md-3">
            <button routerLink="/liste-facture" type="button" class="btn btn-primary btn-lg">liste-facture</button>
        </div>
        <div class="col-md-3">
            <button routerLink="/liste-devis" type="button" class="btn btn-primary btn-lg">liste-devis</button>
        </div>
        <div class="col-md-3">
            <button routerLink="/adminliste-produit" type="button" class="btn btn-primary btn-lg">liste-produits</button>
        </div>

    </div>

</div>