<div class="container-fluid    mt-5  mb-5">
  <div class="row d-flex justify-content-center">
  <form #f="ngForm" class="col-md-8 col-xl-6 mx-auto col-12 col-sm-8 bg-white shadow p-3  bg-body rounded-2 h-100 " (ngSubmit)="addPersonne(f)">
    <!--div class="form-group">
      <label for="fname">id:</label>
      <input class="form-control" type="text" id="id" name="id" ngModel>
    </div-->
    <div class="form-group">
      <div class="form-floating"> 
        <input class="form-control text-center" placeholder="Adress" type="text" id="adress" name="adress" ngModel pattern="[a-zA-Z_0-9]{4,}" required  #adress="ngModel">
      <label for="">Adress:</label></div>
     
      <div *ngIf="adress.invalid && (adress.dirty || adress.touched)" class="p-2 my-2 bg-danger text-white rounded-1">

        <div *ngIf="adress.errors?.['required']" >
        l'adress est obligatoire.
        </div>
        <div *ngIf="adress.errors?.['pattern']" >
          l'adress doit avoir au moin 4 caractères
        </div>
    </div> </div>
    <div class="form-group">
      <div class="form-floating"> 
        <input class="form-control text-center" placeholder="Name" type="text" id="nom" name="nom" ngModel pattern="[a-zA-Z_0-9]{4,10}" required  #nom="ngModel">
      <label for="">Name:</label></div>
     
      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="p-2 my-2 bg-danger text-white rounded-1">

        <div *ngIf="nom.errors?.['required']" >
          Le nom est obligatoire.
        </div>
        <div *ngIf="nom.errors?.['pattern']" >
          Le nom doit avoir au min 4 caractères et max 10
        </div>
    </div>
    </div>
    <div class="form-group">
      <div class="form-floating">
      <input class="form-control text-center" placeholder="Prénom" type="text" id="prenom" name="prenom" ngModel pattern="[a-zA-Z_0-9]{4,10}" required  #prenom="ngModel">
      <label for="">Prénom:</label> </div>
     <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="p-2 my-2 bg-danger text-white rounded-1">

        <div *ngIf="prenom.errors?.['required']" >
          Le prenom est obligatoire.
        </div>
        <div *ngIf="prenom.errors?.['pattern']" > 
          Le prenom doit avoir au moin 4 caractères et max 10
        </div>
    </div>
    </div>
    <div class="form-group">
      <div class="form-floating"><input class="form-control text-center" placeholder="Numéro de téléphone:" type="number" id="tel" name="tel" ngModel   required pattern="\d{8}"  #tel="ngModel">
      <label for="">Numéro de téléphone:</label></div>
      
      <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="p-2 my-2 bg-danger text-white rounded-1">

        <div *ngIf="tel.errors?.['required']" >
          Le numéro de tel est obligatoire.
        </div>
        <div *ngIf="tel.errors?.['pattern']" > 
          Le numéro  teléphone doit avoir au maximum 8 chiffres
        </div>
        

    </div>

    </div>
    <div class="form-group my-2">
      <input type="file"multiple class="form-control" value="select"(change)="onSelectedFile($event)" ngModel>
     

    </div>
    <hr>
    <div class="row d-flex justify-content-evenly">
    <button class="btn btnColor text-white shadow-lg col-md-5 col-10 col-sm-5  my-1" data-bs-toggle="modal" data-bs-target="#exampleModal3" type="submit" [disabled]="f.invalid">Save Changes</button>
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Creation avac succés</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            vous avez creé un personne
          </div>
         
        </div>
      </div>
    </div>
    <button routerLink="/list-personne" class="btn btn-dark col-md-5 shadow-lg col-10 col-sm-5 my-1" >Retour</button></div>
  </form>  <div class="col-md-2 col-xl-2  col-10 col-sm-3 my-2 mx-auto  border border-secondary  rounded-3  bg-white  "> 
    <img  class="  w-100 rounded-1 mt-2 " [src]="imgURL" width="250"  height="250"  *ngIf="imgURL" >
</div>
 
</div></div>