button[disabled]{
    cursor: none;
}
button[disabled]:hover{
    background-color: gray;
    cursor: none;
}
.btnColor{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    height: 40px;

}