.search-hero {
    max-width: 500px;
    margin:auto;
  }
  
  /* .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  } */
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  a.active{
    background-color: rgb(19, 15, 15);
    color: rgb(249, 237, 237);
  }
  a{
    text-decoration: none;
    color: black;
}
.color{
  background-color: #f68b1e;}
  .StyleButton{ 
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #151413;
      color: #fff;
      height: 45px;
    }