
<div id="carouselExampleIndicators" class="carousel slide h-50  w-70  py-2 ms-3 me-3  mt-5" data-bs-ride="carousel">
    <div class="carousel-indicators ">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/img/Acem.jpg" height="500" class="d-block w-100 rounded-4" alt="OUTILLAGE_IMAGE">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/img/acem2.jpg" height="500" class="d-block w-100 rounded-4" alt="OUTILLAGE_IMAGE">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid col-11 mt-5 mb-5 p-4 bg-white shadow-sm rounded-4">
<H2 class="text-center fst-italic text-danger">Entreprise</H2>
<ul>
    <li class="fw-semibold fs-4">Fournir des solutions appropriées aux exigences des utilisateurs professionnels en termes d’outillage en vue d’améliorer la qualité de travail.</li>
    <li class="fw-semibold fs-4">Favoriser l’innovation en travaillant sur les matériaux et la technologie de production.</li>
    <li class="fw-semibold fs-4">Anticiper la tendance en matière de design et ergonomie.</li>
    <li class="fw-semibold fs-4">Démarquer comme une référence fiable et maintenir le capital confiance chez les professionnels.</li>
  </ul>
  </div>
